<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>accountController.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>accountController.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>accountController.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccountServlet</servlet-name>
        <servlet-class>accountController.RegisterAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserTypeServlet</servlet-name>
        <servlet-class>accountController.UserTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterAccountServlet</servlet-name>
        <servlet-class>accountController.RegisterAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>accountController.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassServlet</servlet-name>
        <servlet-class>accountController.ChangePassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClubServlet</servlet-name>
        <servlet-class>controller.ClubServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleServlet</servlet-name>
        <servlet-class>controller.ScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeagueServlet</servlet-name>
        <servlet-class>controller.LeagueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListRequestManager</servlet-name>
        <servlet-class>controller.ListRequestManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>controller.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayerServlet</servlet-name>
        <servlet-class>controller.PlayerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MatchServlet</servlet-name>
        <servlet-class>controller.MatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>favClubServlet</servlet-name>
        <servlet-class>controller.favClubServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FavouriteController</servlet-name>
        <servlet-class>controller.FavouriteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SquadServlet</servlet-name>
        <servlet-class>controller.SquadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserTypeServlet</servlet-name>
        <url-pattern>/usertype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterAccountServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/forgotpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassServlet</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClubServlet</servlet-name>
        <url-pattern>/club</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleServlet</servlet-name>
        <url-pattern>/schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeagueServlet</servlet-name>
        <url-pattern>/league</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListRequestManager</servlet-name>
        <url-pattern>/listrequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayerServlet</servlet-name>
        <url-pattern>/player</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MatchServlet</servlet-name>
        <url-pattern>/match</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>favClubServlet</servlet-name>
        <url-pattern>/favClub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FavouriteController</servlet-name>
        <url-pattern>/like</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SquadServlet</servlet-name>
        <url-pattern>/squad</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
