.u-section-1 .u-sheet-1 {
  min-height: 691px;
}

.u-section-1 .u-image-1 {
  width: 1060px;
  height: 659px;
  margin: 16px 55px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 43px;
  height: 43px;
  margin: -573px 303px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 43px;
  height: 43px;
  margin: -27px auto 0 262px;
}

.u-section-1 .u-shape-3 {
  width: 43px;
  height: 43px;
  margin: 0 auto 0 501px;
}

.u-section-1 .u-shape-4 {
  width: 43px;
  height: 43px;
  margin: 40px 260px 0 auto;
}

.u-section-1 .u-shape-5 {
  width: 43px;
  height: 43px;
  margin: 38px 90px 0 auto;
}

.u-section-1 .u-shape-6 {
  width: 43px;
  height: 43px;
  margin: -43px auto 0 157px;
}

.u-section-1 .u-shape-7 {
  width: 43px;
  height: 43px;
  margin: -43px 491px 0 auto;
}

.u-section-1 .u-shape-8 {
  width: 43px;
  height: 43px;
  margin: 21px 260px 0 auto;
}

.u-section-1 .u-shape-9 {
  width: 43px;
  height: 43px;
  margin: 53px auto 0 501px;
}

.u-section-1 .u-shape-10 {
  width: 43px;
  height: 43px;
  margin: 0 auto 0 262px;
}

.u-section-1 .u-shape-11 {
  width: 43px;
  height: 43px;
  margin: -24px 303px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 584px;
    margin-top: 290px;
    margin-right: 20px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -533px;
    margin-right: 403px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 362px;
  }

  .u-section-1 .u-shape-3 {
    margin-right: 496px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-4 {
    margin-right: 360px;
  }

  .u-section-1 .u-shape-5 {
    margin-right: 79px;
  }

  .u-section-1 .u-shape-6 {
    margin-left: 257px;
  }

  .u-section-1 .u-shape-7 {
    margin-right: auto;
    margin-left: 506px;
  }

  .u-section-1 .u-shape-8 {
    margin-right: 360px;
  }

  .u-section-1 .u-shape-9 {
    margin-right: 496px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-10 {
    margin-left: 362px;
  }

  .u-section-1 .u-shape-11 {
    margin-right: 403px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 447px;
    margin-right: auto;
    margin-left: 210px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 513px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 472px;
  }

  .u-section-1 .u-shape-3 {
    margin-right: 386px;
  }

  .u-section-1 .u-shape-4 {
    margin-right: 470px;
  }

  .u-section-1 .u-shape-5 {
    margin-right: 189px;
  }

  .u-section-1 .u-shape-6 {
    margin-left: 367px;
  }

  .u-section-1 .u-shape-7 {
    margin-left: 396px;
  }

  .u-section-1 .u-shape-8 {
    margin-right: 470px;
  }

  .u-section-1 .u-shape-9 {
    margin-right: 386px;
  }

  .u-section-1 .u-shape-10 {
    margin-left: 472px;
  }

  .u-section-1 .u-shape-11 {
    margin-right: 513px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 335px;
    margin-left: 300px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -352px;
    margin-right: auto;
    margin-left: 494px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 535px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-3 {
    margin-right: 300px;
  }

  .u-section-1 .u-shape-4 {
    margin-right: auto;
    margin-left: 537px;
  }

  .u-section-1 .u-shape-5 {
    margin-right: 279px;
  }

  .u-section-1 .u-shape-6 {
    margin-left: 457px;
  }

  .u-section-1 .u-shape-7 {
    margin-left: 306px;
  }

  .u-section-1 .u-shape-8 {
    margin-right: auto;
    margin-left: 537px;
  }

  .u-section-1 .u-shape-9 {
    margin-right: 300px;
  }

  .u-section-1 .u-shape-10 {
    margin-right: 535px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-11 {
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 494px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 243px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 211px;
    margin-left: 400px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -232px;
    margin-left: 400px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 435px;
  }

  .u-section-1 .u-shape-3 {
    margin-right: 400px;
  }

  .u-section-1 .u-shape-4 {
    margin-left: 437px;
  }

  .u-section-1 .u-shape-5 {
    margin-right: 379px;
  }

  .u-section-1 .u-shape-6 {
    margin-right: 540px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-7 {
    margin-left: 400px;
  }

  .u-section-1 .u-shape-8 {
    margin-left: 437px;
  }

  .u-section-1 .u-shape-9 {
    margin-right: 400px;
  }

  .u-section-1 .u-shape-10 {
    margin-right: 435px;
  }

  .u-section-1 .u-shape-11 {
    margin-left: 400px;
  }
}